.mat-column-progress {
  max-width: 40px;
}

.add-form {
  margin-left: 20px;
}

.search-form {
  margin-left: 20px;
}

.button-center{
  position:relative;
  margin: -10%;
  top:50%; 
  left:50%;
  width: 20%;
}

