<section id="sample-table" class="mat-elevation-z8 bg-white">
  <mat-form-field class="search-form">
    <mat-label> <mat-icon>search</mat-icon> Tên</mat-label>
    <input type="text" (keyup)="applyFilter()" (input)="getMatchedModels()" matInput [formControl]="myControl" [matAutocomplete]="autoCompleteModel" [(ngModel)]='droneSearch.model'>
  </mat-form-field>
  <mat-autocomplete #autoCompleteModel="matAutocomplete">
    <mat-option *ngFor="let model of matchedModels" [value]="model">{{model}}</mat-option>
  </mat-autocomplete>

  <div>
    <button mat-raised-button class="search-form" color="primary" (click)="openDialog()">Thêm drone</button>
  </div>
  <table mat-table [dataSource]="dataTable" matSort class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
      <td mat-cell *matCellDef="let row"> <a href="drone/detail/{{row.id}}"> {{row.model}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ảnh </th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.image" class="imgs">
      </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chiều cao </th>
      <td mat-cell *matCellDef="let row"> {{row.height}} mm </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Khối lượng </th>
      <td mat-cell *matCellDef="let row"> {{row.weight}} g </td>
    </ng-container>

    <ng-container matColumnDef="battery">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dung lượng pin </th>
      <td mat-cell *matCellDef="let row"> {{row.battery}} mAh </td>
    </ng-container>

    <ng-container matColumnDef="flight_time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Giờ bay </th>
      <td mat-cell *matCellDef="let row"> {{row.flight_time}} mins </td>
    </ng-container>

    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tốc độ </th>
      <td mat-cell *matCellDef="let row"> {{row.speed}} m/s </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="{{dataBase.COLOR_STATUS[row.id % 3]}}" style="width: 70%;">{{dataBase.DRONE_STATUS[row.id % 3]}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="deleteDrone(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>
