@import '~src/scss/variables';
.location-icon {
  color: $primary-color;
}

.imgs {
  height: 250px;
  width: 320px;
}

.example-card {
  max-width: 300px;
  margin-bottom: 50px;
  display: inline-block !important;
}

.search-form {
  margin-left: 20px;
}