<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  
</div>

<!-- <mat-grid-list cols="3" rowHeight="1:1">
    <div *ngFor="let item of places">
      <mat-grid-tile>
        <img mat-grid-image [src]="item.imgSrc" class="imgs">
        <h3>first tile</h3>
      </mat-grid-tile>
    </div>
</mat-grid-list> -->

<div class="page-wrapper" fxLayout="row wrap">
  <mat-card fxFlex.lg="33%" fxFlex.lt-lg="66%" fxFlex.xs="100%" *ngFor="let item of images">
    <img mat-card-image [src]="item.imgSrc" class="imgs">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">{{item.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Miêu tả : {{item.description}}
    </mat-card-content>
    <mat-card-content>
      Ngày : {{item.date}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon class="location-icon">location_on</mat-icon> {{item.location}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
