<h1 mat-dialog-title>Profile</h1>
<div class="add-form" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
  <div fxFlex.gt-sm="49" class="mb15">
    <img [src]="data.image" style="height: 200px; width:300px">
    <br>
    <input type="file" id="file"
          (change)="handleFileInput($event.target.files)"
          [formControl]="userForm.get('image')">
    <mat-error *ngIf="userForm.get('image').invalid">Bạn phải upload ảnh</mat-error>
  </div>
  <div fxFlex.gt-sm="49" class="mb15">
    <mat-form-field class="add-form">
      <mat-label>Tên người dùng</mat-label>
      <input matInput [(ngModel)]="data.name" [formControl]="userForm.get('name')">
      <mat-error *ngIf="userForm.get('name').invalid">Bạn phải nhập tên</mat-error>
    </mat-form-field>
    
    <mat-form-field class="add-form">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email" [formControl]="userForm.get('email')">
      <mat-error *ngIf="userForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field class="add-form">
      <mat-label>Tuổi</mat-label>
      <input type='number' matInput [(ngModel)]="data.age" [formControl]="userForm.get('age')">
      <mat-error *ngIf="userForm.get('age').hasError('required')">Bạn chưa điền tuổi</mat-error>
      <mat-error *ngIf="userForm.get('age').hasError('min')">Tuổi quá nhỏ</mat-error>
      <mat-error *ngIf="userForm.get('age').hasError('max')">Tuổi quá lớn</mat-error>
    </mat-form-field>
    
    <mat-form-field class="add-form">
      <mat-label>Giới tính</mat-label>
      <mat-select [(ngModel)]="data.gender" [formControl]="userForm.get('gender')">
        <mat-option value="Nam">Nam</mat-option>
        <mat-option value="Nữ">Nữ</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('gender').invalid">Bạn chưa chọn giới tính</mat-error>
    </mat-form-field>
    
    <mat-form-field class="add-form">
      <mat-label>Chi nhánh</mat-label>
      <input matInput [(ngModel)]="data.department" [formControl]="userForm.get('department')">
      <mat-error *ngIf="userForm.get('department').invalid">Bạn chưa nhập chi nhánh</mat-error>
    </mat-form-field>
    
    <mat-form-field class="add-form">
      <mat-label>Chức vụ</mat-label>
      <input matInput [(ngModel)]="data.occupation" [formControl]="userForm.get('occupation')">
      <mat-error *ngIf="userForm.get('occupation').invalid">Bạn chưa nhập chức vụ</mat-error>
    </mat-form-field>
  </div>
</div>

<br>
<br>

<div class="add-form" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
  <div fxFlex.gt-sm="49" class="mb15">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lịch sử công việc</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart width="500" height="200" [datasets]="lineChartAssignment" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="49" class="mb15">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Công việc tháng này</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart width="500" height="200" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>

<div class="add-form" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
  <table mat-table [dataSource]="dataTable" matSort class="w-100">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Người thực hiện </th>
      <td mat-cell *matCellDef="let row"> {{this.dataBase.getUserName(row.userId)}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="completeDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc </th>
      <td mat-cell *matCellDef="let row"> {{row.completeDate}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa điểm </th>
      <td mat-cell *matCellDef="let row"> {{row.location}} </td>
    </ng-container>

    <ng-container matColumnDef="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vị trí cột </th>
      <td mat-cell *matCellDef="let row"> {{row.column}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Miêu tả </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
      <td mat-cell *matCellDef="let row" >
           <button mat-raised-button color="{{this.dataBase.COLOR_STATUS[row.status]}}" style="width: 100%;">{{this.dataBase.TEXT_STATUS[row.status]}}</button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<div mat-dialog-actions>
  <button mat-raised-button class="add-form" [disabled]="userForm.invalid" color="primary" (click)="saveUser()">Lưu</button>
</div>